/eln-cache
*.elc
*.pyc
elpa/
eshell/
transient/
auto-save-list/
recentf
data/
etc/
var/
eln-cache/
eaf/
request/
projects
places
multisession/
forge*
epkgs/
dirvish/
amx-items
bookmarks
tramp
tldr
session*
rime/
blink-search.db
history
*.emacs.desktop
*.emacs.desktop.lock
amx-items