[submodule "site-lisp/pkg/lazycat-theme"]
	path = site-lisp/pkg/lazycat-theme
	url = https://github.com/manateelazycat/lazycat-theme.git
[submodule "site-lisp/pkg/lazy-load"]
	path = site-lisp/pkg/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/pkg/one-key"]
	path = site-lisp/pkg/one-key
	url = https://github.com/manateelazycat/one-key.git
[submodule "site-lisp/pkg/awesome-tray"]
	path = site-lisp/pkg/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "site-lisp/pkg/grammatical-edit"]
	path = site-lisp/pkg/grammatical-edit
	url = https://github.com/manateelazycat/grammatical-edit.git
[submodule "site-lisp/pkg/tree-sitter"]
	path = site-lisp/pkg/tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter.git
[submodule "site-lisp/pkg/auto-save"]
	path = site-lisp/pkg/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "site-lisp/pkg/postframe"]
	path = site-lisp/pkg/postframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/pkg/markdown-mode"]
	path = site-lisp/pkg/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "site-lisp/pkg/yasnippet"]
	path = site-lisp/pkg/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/pkg/lsp-bridge"]
	path = site-lisp/pkg/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/pkg/emacs-application-framework"]
	path = site-lisp/pkg/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "site-lisp/pkg/vi-navigate"]
	path = site-lisp/pkg/vi-navigate
	url = https://github.com/manateelazycat/vi-navigate.git
[submodule "site-lisp/pkg/isearch-mb"]
	path = site-lisp/pkg/isearch-mb
	url = https://github.com/astoff/isearch-mb.git
[submodule "site-lisp/pkg/emacs-rime"]
	path = site-lisp/pkg/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "site-lisp/pkg/olivetti"]
	path = site-lisp/pkg/olivetti
	url = https://github.com/rnkn/olivetti.git
[submodule "site-lisp/pkg/pangu-spacing"]
	path = site-lisp/pkg/pangu-spacing
	url = https://github.com/coldnew/pangu-spacing.git
[submodule "site-lisp/pkg/deno-bridge-jieba"]
	path = site-lisp/pkg/deno-bridge-jieba
	url = https://github.com/ginqi7/deno-bridge-jieba.git
[submodule "site-lisp/pkg/deno-bridge"]
	path = site-lisp/pkg/deno-bridge
	url = https://github.com/manateelazycat/deno-bridge.git
[submodule "site-lisp/pkg/emacs-websocket"]
	path = site-lisp/pkg/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "site-lisp/pkg/sort-tab"]
	path = site-lisp/pkg/sort-tab
	url = https://github.com/manateelazycat/sort-tab.git
[submodule "site-lisp/pkg/color-rg"]
	path = site-lisp/pkg/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "site-lisp/pkg/symbol-overlay"]
	path = site-lisp/pkg/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "site-lisp/pkg/blink-search"]
	path = site-lisp/pkg/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "site-lisp/pkg/aweshell"]
	path = site-lisp/pkg/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-lisp/pkg/smart-align"]
	path = site-lisp/pkg/smart-align
	url = https://github.com/manateelazycat/smart-align.git
[submodule "site-lisp/pkg/iedit"]
	path = site-lisp/pkg/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "site-lisp/pkg/projectile"]
	path = site-lisp/pkg/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/pkg/projectile-rails"]
	path = site-lisp/pkg/projectile-rails
	url = https://github.com/asok/projectile-rails.git
[submodule "site-lisp/pkg/json-mode"]
	path = site-lisp/pkg/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "site-lisp/pkg/json-snatcher"]
	path = site-lisp/pkg/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher.git
[submodule "site-lisp/pkg/popweb"]
	path = site-lisp/pkg/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "site-lisp/pkg/meow"]
	path = site-lisp/pkg/meow
	url = https://github.com/meow-edit/meow.git
[submodule "site-lisp/pkg/vundo"]
	path = site-lisp/pkg/vundo
	url = https://github.com/casouri/vundo.git
[submodule "site-lisp/pkg/gcmh"]
	path = site-lisp/pkg/gcmh
	url = https://github.com/emacsmirror/gcmh
[submodule "site-lisp/pkg/ws-butler"]
	path = site-lisp/pkg/ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "site-lisp/pkg/valign"]
	path = site-lisp/pkg/valign
	url = https://github.com/casouri/valign.git
[submodule "site-lisp/pkg/org-modern"]
	path = site-lisp/pkg/org-modern
	url = https://github.com/minad/org-modern.git
[submodule "site-lisp/pkg/pinyinlib.el"]
	path = site-lisp/pkg/pinyinlib.el
	url = https://github.com/cute-jumper/pinyinlib.el.git
[submodule "site-lisp/pkg/swiper"]
	path = site-lisp/pkg/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "site-lisp/pkg/amx"]
	path = site-lisp/pkg/amx
	url = https://github.com/DarwinAwardWinner/amx.git
[submodule "site-lisp/pkg/Emacs-wgrep"]
	path = site-lisp/pkg/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/pkg/s.el"]
	path = site-lisp/pkg/s.el
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/pkg/dash"]
	path = site-lisp/pkg/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/pkg/posframe"]
	path = site-lisp/pkg/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/pkg/apheleia"]
	path = site-lisp/pkg/apheleia
	url = https://github.com/radian-software/apheleia.git
[submodule "site-lisp/pkg/vimish-fold"]
	path = site-lisp/pkg/vimish-fold
	url = https://github.com/matsievskiysv/vimish-fold.git
[submodule "site-lisp/pkg/fanyi.el"]
	path = site-lisp/pkg/fanyi.el
	url = https://github.com/condy0919/fanyi.el.git
[submodule "site-lisp/pkg/emacs-crow"]
	path = site-lisp/pkg/emacs-crow
	url = https://github.com/EvanMeek/emacs-crow.git
[submodule "site-lisp/pkg/esup"]
	path = site-lisp/pkg/esup
	url = https://github.com/jschaf/esup.git
[submodule "site-lisp/pkg/duplicate-line"]
	path = site-lisp/pkg/duplicate-line
	url = https://github.com/manateelazycat/duplicate-line.git
